/* font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif; */
html {
    box-sizing: border-box;
    font-size: 62.5%; /*Convierte 1rem en 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color:rgb(235, 236, 255);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;

}
.container__welcome img{
    width: 30px;
    height: 30px;
    display: block;
    object-fit:cover;
    margin-left: 5px;
}
h1{
    font-size: 3.4rem;
    color: #3A3845;
    margin: 10px;
    font-family: 'Inconsolata', monospace;
}

p{
    font-size: 2.4rem;
    color: #3A3845;
    margin: 0;
}


.container__challenges{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    
}

.container__welcome{
    display: flex;
    align-items: center;
}
.welcome__img{
    width: 300px;
    display: block;
    margin: 30px auto;
    align-items: center;
}

.challenges{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.link{
    background-color: #C74B50;
    margin: 10px;
    padding:10px;
    font-size: 2.4rem;
    text-decoration: none;
    color: white;
    border-radius: 10px;
   
}

.link:hover{
    background-color: #fc5d31;
    color: black;
}

/* color flipper */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.container h2{
    background-color: black;
    padding: 10px 20px;
    border-radius:10px;
    text-align: center;
    color: white;
}
span{
    color: rgb(38, 180, 236);
}

#reset, #generate {
    background-color: transparent;
    padding: 10px 15px;
    border-radius:5px;
    cursor:pointer;
    font-size:1.5rem;
    font-weight:bold;
}

#reset:hover, #generate:hover{
    background-color: black;
    color: white;
}

/* To do list */
.to-do-form{
    text-align: center;
    margin-top: 50px;
}
.head h1{
    text-align: center;
    margin-top: 50px;
}

.control__form{
    background-color: #FFCDDF;
    width: 60%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #A89B9B;

}

section{
    margin-top: 30px;
}

#search{
    background-color: #fffbfbf1;
    width: 35%;
    padding: 7px;
    border-radius: 4px;
    border: none;
    margin-left: 40px;

}

.list__group{
    width: 90%;
    margin-top: 30px;
    padding: 0;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    margin-left: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.2);
}

.list__group li{
    background: #fff;
    border-bottom: 1px solid #dee6e1;
    font-size: inherit;
    padding: 15px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.borrar{
    cursor: pointer;
}

.textFilter{
    color: #f71e35;
}

.fa-trash-can{
    padding-top: 5px;
    color: #f71e35;
    font-size: 20px;
}

.to-do-button{
    background-color: #DC638E;
    width: 15%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #A89B9B;
    cursor: pointer;
}

input[type="text"]{
    /* text-align: center; */
    color: black;
}



@media (min-width: 768px) { 
    h1{
        font-size: 4.4rem;
        font-weight: 900;
    }
    p{
        font-size: 2.5rem;
        
    }
    h2{
        font-size: 3.6rem;
    }
    h3{
        font-size: 2.8rem;
    }
    .link{
        margin: 10px;
        padding:10px 20px;
        display: flex;
        justify-content:space-around;
        flex-direction: row;
        font-size: 2rem;
    }

    .control__form{
        background-color: #FFCDDF;
        width: 30%;
        padding: 7px;
        border-radius: 5px;
        border: 1px solid #A89B9B;
    
    }
    
    .to-do-button{
        background-color: #DC638E;
        width: 7%;
        padding: 7px;
        border-radius: 5px;
        border: 1px solid #A89B9B;
    }

    #search{
        width: 15%;
    
    }

    .list__group{
        width: 30%;
        margin-left: 40px;
    }   
}
