/* font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif; */
html {
    box-sizing: border-box;
    font-size: 62.5%; /*Convierte 1rem en 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color:rgb(235, 236, 255);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;

}
.container__welcome img{
    width: 30px;
    height: 30px;
    display: block;
    object-fit:cover;
    margin-left: 5px;
}
h1{
    font-size: 3.4rem;
    color: #3A3845;
    margin: 10px;
    font-family: 'Inconsolata', monospace;
}

p{
    font-size: 2.4rem;
    color: #3A3845;
    margin: 0;
}


.container__challenges{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    
}

.container__welcome{
    display: flex;
    align-items: center;
}
.welcome__img{
    width: 300px;
    display: block;
    margin: 30px auto;
    align-items: center;
}

.challenges{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.link{
    background-color: #C74B50;
    margin: 10px;
    padding:10px;
    font-size: 2.4rem;
    text-decoration: none;
    color: white;
    border-radius: 10px;
   
}

.link:hover{
    background-color: #fc5d31;
    color: black;
}

/* color flipper */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.container h2{
    background-color: black;
    padding: 10px 20px;
    border-radius:10px;
    text-align: center;
    color: white;
}
span{
    color: rgb(38, 180, 236);
}

#reset, #generate {
    background-color: transparent;
    padding: 10px 15px;
    border-radius:5px;
    cursor:pointer;
    font-size:1.5rem;
    font-weight:bold;
}

#reset:hover, #generate:hover{
    background-color: black;
    color: white;
}

@media (min-width: 768px) { 
    h1{
        font-size: 4.4rem;
        font-weight: 900;
    }
    p{
        font-size: 2.5rem;
        
    }
    h2{
        font-size: 3.6rem;
    }
    h3{
        font-size: 2.8rem;
    }
    .link{
        margin: 10px;
        padding:10px 20px;
        display: flex;
        justify-content:space-around;
        flex-direction: row;
        font-size: 2rem;
    }

    
}
