html,body {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    color: white;
    background-color: #2F4F30;
}

.carta{
    width: 15rem;
    position: relative;
    left: 10rem;
    margin-left: -7.5rem;
}

#computadora-cartas,#jugador-cartas {
    height: 24rem;
}